<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daastaan</title>
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam:400,700&amp;subset=devanagari" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="blog-head">
    	<h2>Daastaan</h2>
        <p>just a blog to share my poetry...</p>
	</div>